{% extends 'base.html.twig' %}

{% block title %}New Address{% endblock %}

{% block body %}
    <h1>Create new Address</h1>

    {{ include('admin/address/_form.html.twig') }}

    <a href="{{ path('app_adminaddress_index') }}">back to list</a>
{% endblock %}
